<!-- Start Breadcrumbs -->
<app-breadcrumbs title="{{ 'MENU.SETTINGS' | translate}}" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">

    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body text-center py-4">
                        <lord-icon
                                src="https://cdn.lordicon.com/gqjpawbc.json"
                                trigger="loop"
                                delay="500"
                                colors="primary:#121331,secondary:#66a1ee"
                                style="width:75px;height:75px">
                        </lord-icon>
                        <a href="javascript:void(0);" class="stretched-link">
                            <h5 class="mt-4">{{ 'SETTINGS.INFORMATION.LABEL' | translate }}</h5>
                        </a>
                        <p class="text-muted mb-0">{{ 'SETTINGS.INFORMATION.DESC' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body text-center py-4">
                        <lord-icon
                                src="https://cdn.lordicon.com/gqjpawbc.json"
                                trigger="loop"
                                delay="500"
                                colors="primary:#121331,secondary:#66a1ee"
                                style="width:75px;height:75px">
                        </lord-icon>
                        <a href="javascript:void(0);" class="stretched-link">
                            <h5 class="mt-4">{{ 'SETTINGS.EVENT.LABEL' | translate }}</h5>
                        </a>
                        <p class="text-muted mb-0">{{ 'SETTINGS.EVENT.DESC' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body text-center py-4">
                        <lord-icon
                                src="https://cdn.lordicon.com/gqjpawbc.json"
                                trigger="loop"
                                delay="500"
                                colors="primary:#121331,secondary:#66a1ee"
                                style="width:75px;height:75px">
                        </lord-icon>
                        <a href="javascript:void(0);" class="stretched-link">
                            <h5 class="mt-4">{{ 'SETTINGS.GALLERY.LABEL' | translate }}</h5>
                        </a>
                        <p class="text-muted mb-0">{{ 'SETTINGS.GALLERY.DESC' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body text-center py-4">
                        <lord-icon
                                src="https://cdn.lordicon.com/gqjpawbc.json"
                                trigger="loop"
                                delay="500"
                                colors="primary:#121331,secondary:#66a1ee"
                                style="width:75px;height:75px">
                        </lord-icon>
                        <a href="javascript:void(0);" class="stretched-link">
                            <h5 class="mt-4">{{ 'SETTINGS.QR_CODE.LABEL' | translate }}</h5>
                        </a>
                        <p class="text-muted mb-0">{{ 'SETTINGS.QR_CODE.DESC' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body text-center py-4">
                        <lord-icon src="https://cdn.lordicon.com/gqjpawbc.json"
                                   trigger="loop"
                                   delay="500"
                                   colors="primary:#121331,secondary:#66a1ee"
                                   style="width:75px;height:75px">
                        </lord-icon>
                        <a href="javascript:void(0);" class="stretched-link">
                            <h5 class="mt-4">{{ 'SETTINGS.NOTIFICATION.LABEL' | translate }}</h5>
                        </a>
                        <p class="text-muted mb-0">{{ 'SETTINGS.NOTIFICATION.DESC' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
