<!-- Start Breadcrumbs -->
<app-breadcrumbs title="{{ 'MENU.SETTINGS' | translate}}" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="card-header p-0">
                <div class="alert alert-warning alert-border-left alert-dismissible material-shadow fade show mb-0"
                     role="alert">
                    <i class="ri-timer-line me-3 align-middle"></i> Your free trial ends in 17 Days.
                </div>
            </div>
            <div class="card-body">
                <h6 class="card-title">Subscription Details</h6>
                <p class="card-text text-muted">Manage your subscription and billing information below.</p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 avatar-xs">
                                        <div class="avatar-title bg-primary-subtle text-primary rounded">
                                            <i class="ri-inbox-unarchive-line"></i>
                                        </div>
                                    </div>
                                    <div class="flex-shrink-0 ms-2">
                                        <h6 class="fs-14 mb-0">Current Package</h6>
                                        <small class="text-muted">Start from 24 june 2024</small>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-shrink-0">
                                <span class="badge bg-primary fs-6">Starter Pack</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 avatar-xs">
                                        <div class="avatar-title bg-secondary-subtle text-secondary rounded">
                                            <i class="ri-calendar-todo-line"></i>
                                        </div>
                                    </div>
                                    <div class="flex-shrink-0 ms-2">
                                        <h6 class="fs-14 mb-0">Expired date</h6>
                                        <small class="text-muted">This package will active until</small>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-shrink-0">
                                <span class="badge bg-secondary fs-6">Forever</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 avatar-xs">
                                        <div class="avatar-title bg-success-subtle text-success rounded">
                                            <i class="ri-money-dollar-box-line"></i>
                                        </div>
                                    </div>
                                    <div class="flex-shrink-0 ms-2">
                                        <h6 class="fs-14 mb-0">Price</h6>
                                        <small class="text-muted">Package price</small>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-shrink-0">
                                <span class="badge bg-success fs-6">FREE</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="javascript:void(0)" class="btn btn-info btn-label waves-effect right waves-light rounded-pill">
                    <i class="ri-exchange-box-line label-icon align-middle rounded-pill fs-16 ms-2"></i>
                    Add Features
                </a>
                <a href="javascript:void(0)"
                   class="btn btn-primary btn-label waves-effect waves-light rounded-pill float-end">
                    <i class="ri-exchange-box-line label-icon align-middle rounded-pill fs-16 me-2"></i>
                    Change Plan
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body text-center py-4">
                        <lord-icon
                                colors="primary:#fdd394,secondary:#03a9f4"
                                src="https://cdn.lordicon.com/lenjvibx.json"
                                trigger="loop"
                                delay="500"
                                style="width:75px;height:75px">
                        </lord-icon>
                        <a href="javascript:void(0);" class="stretched-link">
                            <h5 class="mt-4">{{ 'SETTINGS.INFORMATION.LABEL' | translate }}</h5>
                        </a>
                        <p class="text-muted mb-0">{{ 'SETTINGS.INFORMATION.DESC' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body text-center py-4">
                        <lord-icon
                                src="https://cdn.lordicon.com/gqjpawbc.json"
                                trigger="loop"
                                delay="500"
                                colors="primary:#121331,secondary:#66a1ee"
                                style="width:75px;height:75px">
                        </lord-icon>
                        <a href="javascript:void(0);" class="stretched-link">
                            <h5 class="mt-4">{{ 'SETTINGS.EVENT.LABEL' | translate }}</h5>
                        </a>
                        <p class="text-muted mb-0">{{ 'SETTINGS.EVENT.DESC' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body text-center py-4">
                        <lord-icon
                                src="https://cdn.lordicon.com/rehjpyyh.json"
                                trigger="loop"
                                delay="500"
                                colors="primary:#121331,secondary:#66a1ee"
                                style="width:75px;height:75px">
                        </lord-icon>
                        <a href="javascript:void(0);" class="stretched-link">
                            <h5 class="mt-4">{{ 'SETTINGS.GALLERY.LABEL' | translate }}</h5>
                        </a>
                        <p class="text-muted mb-0">{{ 'SETTINGS.GALLERY.DESC' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body text-center py-4">
                        <lord-icon
                                src="https://cdn.lordicon.com/avcjklpr.json"
                                trigger="loop"
                                delay="500"
                                colors="primary:#121331,secondary:#66a1ee"
                                style="width:75px;height:75px">
                        </lord-icon>
                        <a href="javascript:void(0);" class="stretched-link">
                            <h5 class="mt-4">{{ 'SETTINGS.QR_CODE.LABEL' | translate }}</h5>
                        </a>
                        <p class="text-muted mb-0">{{ 'SETTINGS.QR_CODE.DESC' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body text-center py-4">
                        <lord-icon src="https://cdn.lordicon.com/aycieyht.json"
                                   trigger="loop"
                                   delay="500"
                                   colors="primary:#121331,secondary:#66a1ee"
                                   style="width:75px;height:75px">
                        </lord-icon>
                        <a href="javascript:void(0);" class="stretched-link">
                            <h5 class="mt-4">{{ 'SETTINGS.NOTIFICATION.LABEL' | translate }}</h5>
                        </a>
                        <p class="text-muted mb-0">{{ 'SETTINGS.NOTIFICATION.DESC' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
