<!-- Start Breadcrumbs -->
<app-breadcrumbs title="{{ 'MENU.THEME' | translate}}" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-lg-4">
        <div class="card ribbon-box border shadow-none mb-lg-0 material-shadow">
            <div class="ribbon ribbon-primary round-shape fw-semibold">{{ data.invitation.type | translate }}</div>
            <div class="card-overlay-image overflow-hidden">
                <img class="card-img-top img-fluid"
                     src="{{ data.invitation.image }}"
                     alt="Card image cap">
                <h5 class="overlay-text mb-0"><i
                        class="ri-checkbox-blank-circle-fill text-success me-2"></i> {{ data.invitation.domain | translate }}
                </h5>
            </div>
            <div class="card-body p-0">
                <div class="list-group">
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                        <div class="float-end">
                            <i class="ri-arrow-right-s-line"></i>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <i class="ri-paint-brush-line"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5 class="list-title fs-15 mb-1">{{ "ADJUST_THEME" | translate }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-lg-8">
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="fw-semibold mb-0">
                        {{ 'MENU.THEME' | translate }}
                    </h4>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="type" id="btnradio1" autocomplete="off"
                               checked="checked">
                        <label class="btn btn-outline-secondary btn-sm material-shadow-none"
                               for="btnradio1">Standard</label>

                        <input type="radio" class="btn-check" name="type" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary btn-sm material-shadow-none"
                               for="btnradio2">Premium</label>

                        <input type="radio" class="btn-check" name="type" id="btnradio3" autocomplete="off">
                        <label class="btn btn-outline-warning btn-sm material-shadow-none"
                               for="btnradio3">Limited</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @for (item of theme; track $index) {
                <div class="col-sm-12 col-md-6 col-lg-4 col-lg-4">
                    <div class="card">
                        <div class="card-theme">
                            <img src="{{ item.image }}" alt="Card image">
                            <div class="card-theme-title">{{ item.name }}</div>
                            <div class="card-theme-details">
                                {{ item.description }}
                            </div>
                        </div>
                        <div class="card-body p-2">
                            <div class="d-flex justify-content-between align-items-center">
                                @if (item.type == 0) {
                                    <span class="badge bg-secondary">Standard</span>
                                }
                                @if (item.type == 1) {
                                    <span class="badge bg-primary">Premium</span>
                                }
                                @if (item.type == 2) {
                                    <span class="badge bg-warning">Limited</span>
                                }
                                <div>
                                    @for (i of getRatingArray(item.stars); track $index) {
                                        <i class="ri-star-fill text-warning"></i>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
